@import 'variables';

cfs-main-navigation {
    height: 25vh;
    min-height: 100px;
    max-width: $max-with-desktop-size;
    width: 100%;

    header {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        margin: 0 15px;

        & > * {
            flex-basis: 33.33%;
        }
    }

    .brand {
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 400px) {

    cfs-main-navigation {
        header {
            flex-basis: 33.33%;
        }
    }

    .brand {
        order: 0;
    }
}
