<cfs-section-video></cfs-section-video>
<cfs-section-image
    title="Sobre Nosotros"
    buttonLeyend="Leer más"
    buttonRoute="/sobre-nosotros">
</cfs-section-image>
<cfs-section-image
    title="Nuestros Métodos"
    subTitle="Auténticos y exclusivos"
    description="Contamos con una gran variedad de métodos de preparación de café que se ajustan a tu gusto para cualquier evento."
    buttonLeyend="Leer más"
    buttonRoute="/metodos"
    [textWrapperStyles]="methodsTextCSS"
    [backgroundStyles]="methodsBackgroundCSS">
</cfs-section-image>
<cfs-section-image
    title="Nuestro Equipo de Trabajo"
    subTitle="Artesanos del café"
    description="En Cafering somos un conjunto de baristas profesionales que deseamos compartir nuestro amor y experiencias alrededor de una taza de café."
    buttonLeyend="Leer más"
    buttonRoute="/sobre-nosotros"
    [textWrapperStyles]="teamTextCSS"
    [backgroundStyles]="teamBackgroundCSS">
</cfs-section-image>
<cfs-section-image
    title="Disfrute el Arte del Café"
    [largeTitle]="true"
    [textWrapperStyles]="enjoyTextCSS"
    [backgroundStyles]="enjoyBackgroundCSS">
</cfs-section-image>
<cfs-section-image
    title="¿Porqué Cafering?"
    buttonLeyend="Aquí la Respuesta"
    buttonRoute="/eventos"
    [textWrapperStyles]="whyCafferingTextCSS"
    [backgroundStyles]="whyCafferingBackgroundCSS">
</cfs-section-image>
<cfs-section-image
    title="Consume Local"
    subTitle="Costa Rica"
    description="Nuestro café es 100% costarricense a través de un trato directo y justo con el productor, tostado por maestros tostadores y preparado por especialistas."
    [textWrapperStyles]="localTextCSS"
    [backgroundStyles]="localBackgroundCSS">
</cfs-section-image>
<cfs-section-image
    title="#CAFERING"
    [textWrapperStyles]="hashTagTextCSS"
    [backgroundStyles]="hashTagBackgroundCSS">
</cfs-section-image>